@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*------------------------General------------------------*/

body {
    padding-top: 75px;
    font-family: "Roboto", sans-serif;
    color: #555555;
}

/*------------------------Headings------------------------*/

h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 400;
}

div > h2 {
    text-align: left;
}

h3 {
    color: #555555;
    text-align: center;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
}

h3 i {
    margin-bottom: 10px;
}

hr {
    height:2px;
    border-width:0;
    color:gray;
    background-color:gray;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 50%;
}


/*------------------------Main Image------------------------*/

.home-image {
    height: auto;
    max-width: 100%;

    animation-name: home-zoom;
    animation-duration: 8s;
    animation-fill-mode: backwards;
}

@keyframes home-zoom {
    from {
        transform: scale(1.2);
    }
    to {
        transform: scale(1.0);
    }
}

.display-container {
    position: relative;
    overflow: hidden;
}

.content {
    margin-left: auto;
    margin-right: auto;
}

img {
    vertical-align: middle;
    border-style: none;
}

.box{
        position: relative;
    }

.box .info-box {
    position: absolute;
    z-index: 999;
    margin: 0;
    right: 40px;
    bottom: 40px; 
    width: 260px;
    height: 260px;
    padding: 10px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    }

#home {
    background-color: rgba(79, 38, 165, 0.8);
    }

#cafe-box { 
    background-color: rgba(75, 218, 52, 0.8);
    }

#bikehire { 
    background-color: rgba(165, 84, 38, 0.8);
    }



/*------------------------Carousels------------------------*/

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.inline-block {
    display: inline-block;
}

.carousel-style {
    padding: 0px 20px 0px 20px;
}

.feedback-style {
    margin-top: 30px;
    margin-bottom: 60px;
}

.carousel-item span {
    position: absolute;
    z-index: 999;
    margin: 0;
    right: 2px;
    bottom: 5px;
    width: 80px;
    height: 80px;
    padding: 0px;
    background-color: rgba(241, 109, 107, 0.8);
    color: #fff;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    }


.carousel-button {
    text-align: center;
    margin-top: 20px;
}

.small-box-text span {
    padding-top: 15px;
}

.image-border {
    border-right:1px solid #000;
    height: 50px;
}

.text-content {
    padding-left: 100px;
    font-weight: 600;
}

.list-margin{
    margin-top: 30px;
}

.col-sm-6 img {
    padding-left: 100px;
    padding-bottom: 50px; 
}

.list-styling {
    margin-top: 25px;
}

/*------------------------Footer------------------------*/

footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

.blockquote .cite-style {
    background-color: #fff;
    color: #555555;
    margin: 0;
    min-height: 0px;
    box-sizing: content-box;
}

.cite-style::before {
  content: "\2014\00A0";
}

.pdf-lists i {
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.pdf-lists i:hover {
    color: #18d612;
}

#bike-shop-list {
    margin: 0px 0px 3px 0px;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #18d612;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

#footer-details {
    padding: 20px;
}

/* ----------------------------------------Media Queries */

@media(max-width: 992px) {
    .hr-line {
    height:2px;
    border-width:0;
    color:gray;
    background-color:gray;
    margin-top: 40px;
    width: 50%;
    }
}

@media(max-width: 992px) {
    .col-sm-4 h3 {
    margin-top: 40px;
    }
}

@media(max-width: 992px) {
    h1 {
    font-size: 32px;
    }
    body {
    padding-top: 72px;
    }
    .box .info-box {
    position: absolute;
    z-index: 999;
    margin: 0;
    right: 40px;
    bottom: 40px; 
    width: 180px;
    height: 180px;
    padding: 10px;
    background-color: rgba(241, 109, 107, 0.8);
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    }
    div > h2 {
        font-size: 21px;
    }
}

@media(max-width: 720px) {
    .box .info-box {
    position: absolute;
    z-index: 999;
    margin: 0;
    right: 40px;
    bottom: 40px; 
    width: 120px;
    height: 120px;
    padding: 10px;
    background-color: rgba(241, 109, 107, 0.8);
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    }
    div > h2 {
        font-size: 13.5px;
    }
}

@media(max-width: 1230px) {
    .carousel-item span {
    background-color: rgba(241, 109, 107, 0);
    color: rgba(241, 109, 107, 0);
    }
}

@media(max-width: 490px) {
    .box .info-box {
   
    background-color: rgba(241, 109, 107, 0);
    color: rgba(241, 109, 107, 0);
    }
}

@media(max-width: 405px) {
    h1 {
    font-size: 20px;
    }
    body {
    padding-top: 58px;
    }
}

