@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*------------------------General------------------------*/

body {
    padding-top: 75px;
    font-family: "Roboto", sans-serif;
    color: rgb(85, 85, 85);
}

/*------------------------Headings------------------------*/

h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 400;
}

div > h2 {
    text-align: left;
}

h3 {
    color: #555555;
    text-align: center;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
}

h3 i {
    margin-bottom: 10px;
}

h6 {
    color: #555555;
    text-align: center;
    font-family: "Roboto", sans-serif;
    margin-top: 10px;
}

hr {
    height:2px;
    border-width:0;
    background-color:gray;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 50%;
}

.hr-video {
    margin-bottom: 30px;
}

#navbar-colors {
    background-color: #b9bea5 !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #777777;
}

/*
a {
  color: white;
}

a:hover, a:active, a:focus {
  color:#8e9aaf;
}*/

/*------------------------Main Image------------------------*/

.home-image {
    height: auto;
    max-width: 100%;

    animation-name: home-zoom;
    animation-duration: 8s;
    animation-fill-mode: backwards;
}

@keyframes home-zoom {
    from {
        transform: scale(1.2);
    }
    to {
        transform: scale(1.0);
    }
}

.display-container {
    position: relative;
    overflow: hidden;
}

.content {
    margin-left: auto;
    margin-right: auto;
}

img {
    vertical-align: middle;
    border-style: none;
}

.box{
        position: relative;
    }

.box .info-box {
    position: absolute;
    z-index: 1;
    margin: 0;
    right: 40px;
    bottom: 40px; 
    width: 260px;
    height: 260px;
    padding: 10px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    }

#home {
    background-color: rgba(185, 190, 165, 0.8);
    }

#cafe-box { 
    background-color: rgba(185, 190, 165, 0.8);
    }

#bikehire { 
    background-color: rgba(185, 190, 165, 0.8);
    }

#occasions-box {
    background-color: rgba(185, 190, 165, 0.8);
}

#route-box {
    background-color: rgba(185, 190, 165, 0.8);
}

/*
#home {
    background-color: rgba(4, 102, 200, 0.8);
    }

#cafe-box { 
    background-color: rgba(75, 218, 52, 0.8);
    }

#bikehire { 
    background-color: rgba(165, 84, 38, 0.8);
    }

#occasions-box {
    background-color: rgba(110, 54, 22, 0.8);
}

#route-box {
    background-color: rgba(52, 158, 218, 0.8);
}
*/

/*------------------------Carousels------------------------*/

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.inline-block {
    display: inline-block;
}

.carousel-style {
    padding: 0px 20px 0px 20px;
    position: relative;
}

.feedback-style {
    margin-top: 30px;
    margin-bottom: 60px;
}

.carousel-item span {
    position: absolute;
    z-index: 999;
    margin: 0;
    right: 2px;
    bottom: 5px;
    width: 80px;
    height: 80px;
    padding: 0px;
    background-color: rgba(185, 190, 165, 0.8);
    color: #fff;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    }


.carousel-button {
    text-align: center;
    margin-top: 20px;
}

.small-box-text span {
    padding-top: 15px;
}

.carousel-button button:hover {
    color: #777777;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
   border: none !important;
}


/*------------------------Images------------------------*/

.image-border {
    border-right:1px solid #000;
    height: 50px;
}

.text-content {
    padding-left: 10px;
    font-weight: 600;
    text-align: center;
}

.list-margin{
    margin-top: 15px;
}

.list-margin img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-bottom: 20px;
  height: auto;
  width: 80%;
}

.route-image-properties {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: auto;
  width: 80%;
}

.route-icons {
    position: absolute;
    z-index: 1;
    width: 2rem;
    height: 2rem;
    padding: 4px 0;
    border-radius: 50%;
    border: 2px solid #b9bea5; 
    font-size: 15px;
    text-align: center;
    color: #555555;
    background: #fff;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

#route-icon-one {
    left: 26.8%;
    bottom: 16.3%;
    }

#route-icon-two {
    left: 37%;
    bottom: 19.8%;
    }

#route-icon-three {
    left: 44.3%;
    bottom: 51.8%;
    }

#route-icon-four {
    left: 61%;
    bottom: 68%;
    }

#route-icon-five {
    left: 67.7%;
    bottom: 76.5%;
    }

.route-icons:hover {
  border: 2px solid #fff;
  background: #b9bea5;
  color: #fff;
}

.route-popup-text {
  position: absolute;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}

.textBox span {
    position: absolute;
    z-index: 999;
    margin: 0;
    right: 2px;
    bottom: 5px;
    width: 80px;
    height: 80px;
    padding: 15px 0px;
    background-color: rgba(185, 190, 165, 0.8);
    color: #fff;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
}

.iconImage {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.iconImage::after {
  display: block;
  clear: both;
  content: "";
}

.image-style {
    padding: 0px 20px 0px 20px;
    position: relative;
}

.sectionSpacing {
    margin-top: 30px;
}

button:focus {
    outline: 0;
}


/*----------------------- Videos ------------------------*/

.video-box {
    text-align: center;
    width: 100%;
}

.video-spacing {
    padding-top: 30px;
}

/*------------------------Footer------------------------*/

footer {
    background-color: #b9bea5;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

.blockquote .cite-style {
    background-color: #fff;
    color: #555555;
    margin: 0;
    min-height: 0px;
    box-sizing: content-box;
}

.cite-style::before {
  content: "\2014\00A0";
}

.pdf-lists i {
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.contact-list button {
    text-align: left;
    color: #fff;
    padding: 0px;
    margin: 0px;
}


.pdf-lists i:hover {
    color: #2F0147;
}

#bike-shop-list {
    margin: 0px 0px 3px 0px;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #2F0147;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

#footer-details {
    padding: 20px;
}

#footer-middle {
    text-align: left;
    padding-right: 150px;
}

#footer-right {
    text-align: left;
}

#footer-right h5 {
    text-align: right;
}

.modal-footer .btn-secondary {
    background-color: #777777;
}

.modal-footer .btn-primary {
    background-color: #555555;
}

.social-links {
    text-align: right;
}

/* ----------------------------------------Media Queries */


/* ---- Break one ---- */
@media(max-width: 1230px) {
    .carousel-item span {
    background-color: rgba(241, 109, 107, 0);
    color: transparent;
    }
    .carousel-modal span {
    position: absolute;
    z-index: 999;
    margin: 0;
    right: 2px;
    bottom: 5px;
    width: 80px;
    height: 80px;
    padding: 0px;
    background-color: rgba(185, 190, 165, 0.8);
    color: #fff;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    }
    .small-box-text span {
    padding-top: 15px;
}
}

@media(max-width: 1007px) {
    .social-link-spacing {
    display: inline-block;
    margin-top: 5px;
    }
    }

/* ---- Break Two ---- */
@media(max-width: 992px) {
    hr {
    margin-top: 30px;
    margin-bottom: 30px;
    }

    h1 {
    font-size: 32px;
    }

    body {
    padding-top: 72px;
    }

    .box .info-box {
    position: absolute;
    z-index: 999;
    margin: 0;
    right: 40px;
    bottom: 40px; 
    width: 180px;
    height: 180px;
    padding: 10px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    }

    div > h2 {
        font-size: 21px;
    }

    .route-icons {
    width: 1.5rem;
    height: 1.5rem;
    padding: 1.75px 0px;
    font-size: 12px;
    }

    .carousel-button {
    text-align: center;
    margin-top: 10px;
    }

    #footer-middle {
    text-align: left;
    padding-left: 0px;
    }

    .social-link-spacing {
    text-align: right;
    }
    .route-image-properties {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: auto;
    width: 90%;
    }

    #route-icon-one {
    left: 24%;
    bottom: 16.2%;
    }

    #route-icon-two {
    left: 35%;
    bottom: 19.8%;
    }

    #route-icon-three {
    left: 44.3%;
    bottom: 51.8%;
    }

    #route-icon-four {
    left: 62%;
    bottom: 68%;
    }

    #route-icon-five {
    left: 69.5%;
    bottom: 76.2%;
    }  
}

/* ---- Break Three ---- */
@media(max-width: 767px) {
    .box .info-box {
    position: absolute;
    z-index: 999;
    margin: 0;
    right: 40px;
    bottom: 40px; 
    width: 120px;
    height: 120px;
    padding: 10px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    }

    div > h2 {
        font-size: 13.5px;
    }

    .route-icons {
    width: 1.25rem;
    height: 1.25rem;
    padding: 1.05px 0px;
    font-size: 10px;
    }

    h3 {
    font-size: 20px;
    }

    #footer-middle {
    text-align: center;
    padding-right: 25px;
    }

    .social-link-spacing {
    display: block;
    margin-top: 5px;
    text-align: right;
    }

    #footer-right h5 {
    text-align: right;
    }

    hr {
    margin-top: 25px;
    margin-bottom: 25px;
    }

    .route-image-properties {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: auto;
    width: 95%;
    }

    #route-icon-one {
    left: 23%;
    bottom: 15.8%;
    }

    #route-icon-two {
    left: 35%;
    bottom: 19.8%;
    }

    #route-icon-three {
    left: 43.7%;
    bottom: 51.5%;
    }

    #route-icon-four {
    left: 62%;
    bottom: 68%;
    }

    #route-icon-five {
    left: 70%;
    bottom: 76.5%;
    }
}


/* ---- Break Four ---- */
@media(max-width: 574px) {
    .col-sm-4 h3 {
    margin-top: 20px;
    }

    .box .info-box {
    background-color: rgba(241, 109, 107, 0);
    color: transparent;
    }

    #home {
    background-color: rgba(4, 102, 200, 0);
    }
    #cafe-box { 
    background-color: rgba(75, 218, 52, 0);
    }
    #bikehire { 
    background-color: rgba(165, 84, 38, 0);
    }
    #occasions-box {
    background-color: rgba(110, 54, 22, 0);
    }
    #route-box {
    background-color: rgba(52, 158, 218, 0);
    }
    .route-icons {
    width: 1.0rem;
    height: 1.0rem;
    padding: 1px 0px;
    font-size: 8px;
    }
    .social-link-spacing {
    display: inline-block;
    margin-top: 0px;
    }
    #footer-right {
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
    padding: 0px;
    }
    #footer-middle {
    text-align: left;
    margin-top: 20px;
    padding-left: 20px;
    }
    #footer-right h5 {
    text-align: left;
    }
    .social-links {
    text-align: left;
    }
    hr {
    margin-top: 20px;
    margin-bottom: 20px;
    }
    #route-icon-five {
    left: 71%;
    bottom: 76.5%;
    }
    #route-icon-one {
    left: 23.1%;
    bottom: 16.5%;
    }
}

/* ---- Break Five ---- */
@media(max-width: 405px) {
    h1 {
    font-size: 20px;
    }
    body {
    padding-top: 58px;
    }
}
